{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ judul }} | Django3App</title>
</head>
<body>
    <img style="width: 100%;" src="{% static banner %}" alt="">
    <h1>{{ judul }}</h1>
    <h2>Kontributor: {{ kontributor }}</h2>

    <ul>
        {% for link, name in nav %}
        <li><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}

    </ul>
</body>
</html>